body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

header {
    background-color: #c13bff;
    color: #fff;
    text-align: left;
    padding: 1rem;
}

#texto {
    font-family: 'Russo One', sans-serif;
    height:35rem;
    color: #ffffff;
    font-size: clamp(4em, 1em + 5vw, 5em);
    text-align: center;
    padding-top: 3rem;
}

#produto {
    height:35rem;
    background: radial-gradient(circle at 50% 50%, rgba(156, 39, 176, 1) 0%, rgba(156, 39, 176, 0) 50%);
    transform: rotate(-20deg);
    text-align: center;
    padding-top: 3rem;
}

footer {
    background-color: #db63ff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    /* Alterar o layout para telas maiores */
    .conteudo {
        grid-template-columns: 1fr 1fr;
    }
}